#!/usr/bin/env bash
# Automatic environment switching with direnv
# https://direnv.net/

# Add the current composer bin directory to $PATH
export PATH=$PATH:$(pwd)/vendor/bin
export PATH=$PATH:$(pwd)/node_modules/.bin
export PATH=$PATH:$(pwd)/tests/node_modules/.bin

# Copy .env.example to .env if necessary
if [ ! -f .env ]; then
  cp ./.env.example ./.env
fi

# Load everything defined in .env
set -o allexport; source .env; set +o allexport

# Special case for drupal/gatsby_build_monitor package.
if [ "$TEST_SESSION_ENABLED" == "true" ]; then
  # This env var should be set only if we are running Playwright tests.
  export GATSBY_BUILD_MONITOR_AUTO_REFRESH=true
fi
