body {
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: block;
}

label, input {
  font-size: 1.2em;
  line-height: 1em;
}

input {
  border: 1px solid #ccc;
  height: 2em;
}