/*
 * The order that files are @imported is IMPORTANT!
 *
 * Please follow the comments on where to add additional CSS files.
 */

/* purgecss start ignore */
/*
 * Load fonts first for best performance.
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/*
 * Base styles (default styles for HTML elements)
 */
@tailwind base;

/* Additional vertical padding used by kbd tag. */
.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  @apply break-words text-base bg-amazee-background;
}

h1 {
  @apply mb-4 text-3xl font-extrabold tracking-wider;
}

h2 {
  @apply my-4 text-2xl font-bold tracking-wide;
}

h3 {
  @apply my-4 text-lg font-bold;
}

h4 {
  @apply my-4 text-base font-semibold;
}

h5,
h6 {
  @apply my-4 text-sm font-medium;
}

p {
  @apply leading-relaxed font-light mt-2 mb-6;
}

a {
  @apply text-amazee-blue leading-relaxed font-medium mb-8;
}

a:hover,
a:focus {
  @apply text-amazee-yellow;
}

footer a {
  @apply text-amazee-yellow;
}

footer a:hover,
footer a:focus {
  @apply text-amazee-blue;
}

i,
em {
  @apply italic;
}

b,
strong {
  @apply font-bold;
}

code {
  @apply font-mono text-sm inline bg-amazee-background rounded px-1 py-05;
}

pre {
  @apply font-mono text-sm p-4 rounded-md;
}

ul {
  @apply text-base list-disc list-inside my-4;
}

ol {
  @apply text-base list-decimal list-inside my-4;
}

ul ul,
ol ol {
  @apply pl-4;
}

li {
    @apply my-1;
}

kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

table {
  @apply text-base border-gray-600;
}

th {
  @apply border py-1 px-3;
}

td {
  @apply border py-1 px-3;
}

blockquote {
  @apply border-solid border-l-4 border-gray-300 pl-4;
}

/*
 * Component styles
 *
 * Custom components: https://tailwindcss.com/docs/extracting-components
 */
@tailwind components;

/*
 * Utility styles
 *
 * Custom utilities: https://tailwindcss.com/docs/adding-new-utilities
 */
/* purgecss end ignore */
@tailwind utilities;
