.external-preview-links .bar {
    display: flex;
    justify-content: flex-start;
}

.external-preview-dialog #drupal-off-canvas {
    padding: 0;
    color: white;
    background-color: #545560;
}

.external-preview-dialog.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
    color: white;
    background-color: #222330;
}

.external-preview-dialog.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
    background-image: none;
    padding-left: 0;
}

#drupal-off-canvas .external-preview-links .bar--sizing {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

#drupal-off-canvas .external-preview-links .sizing-item {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: none;
    position: relative;

}

#drupal-off-canvas .external-preview-links .sizing-item-divider {
    height: 1px;
    width: 100%;
    background-color: #40414C;
    position: absolute;
    bottom: 0;
    -moz-transition: height 0.2s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}

#drupal-off-canvas .external-preview-links .sizing {
    background: none;
    border: none;
    color: inherit;
    padding: 1em 0em;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    cursor: pointer;
    width: 100%;
    margin: 0;
    width: 100%;
    text-align: center;
}

#drupal-off-canvas .external-preview-links .sizing-item:first-child .sizing {
    padding-top: 2em;
}

#drupal-off-canvas .external-preview-links .sizing-item:hover .sizing-item-divider {
    height: 3px;
}

#drupal-off-canvas .external-preview-links .sizing-item:hover .sizing img {
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}

.external-preview-links .open {
    fill: white;
    stroke: white;
    height: 1em;
}

.external-preview-links .open-link {
    /*color: white;*/
    text-decoration: none;
}

#drupal-off-canvas .external-preview-links .sizing img {
    display: block;
    cursor: pointer;
    max-width: 48px;
    pointer-events: none;
    -moz-transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

#drupal-off-canvas .external-preview-links .sizing span {
    margin-top: 1em;
    cursor: pointer;
    pointer-events: none;
    font-size: 0.889em;
}