.silverback-publisher-indicator-tab {
  float: right !important;
  margin-top: -2px;
  background: #f5f5f5;

}

.silverback-publisher-indicator-tab .toolbar-item {
  display: block;
  color: #565656 !important;
}
