.silverback-publisher-indicator-tab {
  float: right !important;
  z-index: 1000;
  position: relative;
  top: 3px;
  right: 1px;
}

.silverback-publisher-indicator-tab .dropbutton__item .ajax-progress {
  display: none;
}

.silverback-publisher-indicator-tab .dropbutton__toggle {
  height: 36px !important;
  margin-top: -1.5px;
}

.silverback-publisher-indicator-tab .dropbutton-action {
  margin-right: 15px !important;
}

.silverback-publisher-indicator-tab .dropbutton__item .toolbar-item {
  color: #565656 !important;
  margin-top: -17px;
}
