<div class="page">
  {% include "@storybook/page/header/header.html.twig" with {
    frontpage: '/',
    sitename: 'AmazeeLabs'
  } %}
  <div class="page__content">{{ content }}</div>
  <div class="page__sidebar">{{ sidebar }}</div>
</div>
