<div class="silverback-example">
    {% if showBanana %}
      {% include '@storybook/example/banana.twig' %}
    {% endif %}
    <h2>{{ 'Banana' | t }}</h2>
    <div>{{ content }}</div>
    <example-button>Click me!</example-button>
</div>
