#!/usr/bin/env bash
# Automatic environment switching with direnv
# https://direnv.net/

# Add the current composer bin directory to $PATH
PATH_add $(pwd)/vendor/bin
PATH_add $(pwd)/node_modules/.bin
PATH_add $(pwd)/tests/node_modules/.bin

# Copy .env.example to .env if necessary
if [ ! -f .env ]; then
  cp ./.env.example ./.env
fi

# Load everything defined in .env
set -o allexport; source .env; set +o allexport
