/* There is no other way to disable the columns amount slider. */
.components-range-control {
  display: none;
}

/* Hide the Upload button as it skips the media edit form (which may cause
required fields to be left blank). Users still can upload new files via the
media dialog. */
.block-editor-media-placeholder .components-form-file-upload {
  display: none;
}

/* Hide the "Welcome to Gutenberg" overlay, since it is annoying and messes
with cypress tests.*/
.components-modal__screen-overlay {
  display: none !important;
}

/* Make the link suggestions box wider (for real world page titles) */
.components-popover__content div.block-editor-link-control {
  width: 600px;
  max-width: 600px;
}

/* Do not trim the link suggestions. */
.block-editor-link-control__search-item span.block-editor-link-control__search-item-title {
  white-space: normal;
}

/* Avoid word wrap in the type label. */
.block-editor-link-control__search-item .block-editor-link-control__search-item-type {
  white-space: pre;
}
