#!/usr/bin/env bash

# Set node version defined in .nvmrc.
nvm_sh=~/.nvm/nvm.sh
if [[ -e $nvm_sh ]]; then
  source $nvm_sh
  nvm use || nvm install
fi

# Copy .env.example to .env if necessary
if [ ! -f .env ]; then
  cp ./.env.example ./.env
fi

# Load everything defined in .env
set -o allexport; source .env; set +o allexport
